<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="js/template.js" type="module" defer></script>
	</head>
	<body>
		<header class="header">
			<div class="header__top">Ügyfélszolgálat: [tel] / [email]</div>
			<nav class="header__nav">
				<ul class="menu">
					<li class="menu__item">
						<a href="pages/about/index.html"> About </a>
					</li>
					<li class="menu__item">
						<a href="pages/products/index.html">Products</a><i class="fa-solid fa-angle-down"></i>
						<ul class="menu__submenu">
							<li class="menu__item"><a href="pages/products/trending.html">Trending</a></li>
						</ul>
					</li>
					<li class="menu__item"><a href="">Contact</a></li>
				</ul>
			</nav>
		</header>
	</body>
</html>
